manifest {
    name = "tylergross97/samplesheet_generator_pdmr"
    author = "Tyler Gross"
    description = "Nextflow workflow for generating samplesheets for neoantigen prediction workflow (https://github.com/tylergross97/neoantigen_prediction_workflow)"
    version = "v1.0.0"
    mainScript = "main.nf"
    homePage = "https://github.com/tylergross97/samplesheet_generator_pdmr"
    defaultBranch = "main"
}

params {
    input_base = null  // Required parameter, must be specified via command line
    input_csv = null // Required parameter, must be specified via command line
    output_base = null  // Required parameter, must be specified via command line
}

profiles {
    test {
        // Override parameters for a test dataset
        params {
            input_base = "/projects/academic/prinicipal_investigator/research_project"
            samplesheet = "${projectDir}/tests/samplesheet.csv"
            outdir_base = "${projectDir}/tests/results/"
            
        }
        // No container configuration here - let it be set by other profiles
    }

    singularity {
        singularity {
            enabled     = true
            autoMounts  = true
        }
    }

    docker {
        docker {
            enabled     = true
        }
    }
}